<h2>Customers</h2>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Customer Manager</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subNavBar" aria-controls="subNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="subNavBar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="customer">Card View <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="order">List View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">Map View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="new">New Customer</a>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <span>Filter:  </span>
          <input class="form-control mr-sm-2" type="text" placeholder="" aria-label="Search">
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
      </div>
    </nav>